baseURL = "https://cdwilson.dev"
title = "cdwilson.dev"
theme = "hugo-coder"
languageCode = "en"
defaultContentLanguage = "en"
paginate = 20
enableEmoji = true
# disqusShortname = "cdwilson-dev"
enableGitInfo = true

[params]
author = "Chris Wilson"
# license = '<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA-4.0</a>'
description = "Chris Wilson's personal website"
keywords = ""
info = ["I build things.", "Usually with electronics.", "Preferably open-source."]
avatarURL = "images/cdwilson.jpg"
dateFormat = "January 2, 2006"
since = 2022
# Git Commit in Footer, uncomment the line below to enable it
# commit = "https://github.com/cdwilson/cdwilson.dev/tree"
# Right To Left, shift content direction for languagues such as Arabic
rtl = false
# Specify light/dark colorscheme
# Supported values:
# "auto" (use preference set by browser)
# "dark" (dark background, light foreground)
# "light" (light background, dark foreground) (default)
colorScheme = "auto"
# Hide the toggle button, along with the associated vertical divider
hideColorSchemeToggle = false
# Series see also post count
maxSeeAlsoItems = 5
# Custom CSS
customCSS = []
# Custom SCSS, file path is relative to Hugo's asset folder (default: {your project root}/assets)
customSCSS = []
# Custom JS
customJS = []

# If you want to implement a Content-Security-Policy, add this section
[params.csp]
childsrc = ["'self'"]
fontsrc = ["'self'", "https://fonts.gstatic.com", "https://cdn.jsdelivr.net/"]
formaction = ["'self'"]
framesrc = ["'self'"]
imgsrc = ["'self'"]
objectsrc = ["'none'"]
stylesrc = [
  "'self'",
  "'unsafe-inline'",
  "https://fonts.googleapis.com/",
  "https://cdn.jsdelivr.net/"
]
scriptsrc = [
  "'self'", 
  "'unsafe-inline'", 
  "https://www.google-analytics.com",
  "https://cdn.jsdelivr.net/"
]
prefetchsrc = ["'self'"]
# connect-src directive – defines valid targets for to XMLHttpRequest (AJAX), WebSockets or EventSource
connectsrc = ["'self'", "https://www.google-analytics.com"]

[taxonomies]
category = "categories"
series = "series"
tag = "tags"
author = "authors"

[permalinks]
  posts = '/:sections[1:]/:slug/'

[[params.social]]
name = "Github"
icon = "fa fa-2x fa-github"
weight = 1
url = "https://github.com/cdwilson/"

[[params.social]]
name = "Twitter"
icon = "fa fa-2x fa-twitter"
weight = 2
url = "https://twitter.com/chrismakesstuff/"

[[params.social]]
name = "LinkedIn"
icon = "fa fa-2x fa-linkedin"
weight = 3
url = "https://www.linkedin.com/in/cdwilson/"

[[params.social]]
name = "RSS"
icon = "fa fa-2x fa-rss"
weight = 4
url = "https://cdwilson.dev/index.xml"
rel = "alternate"
type = "application/rss+xml"

[[menu.main]]
name = "About"
weight = 1
url = "about/"

[[menu.main]]
name = "Writing"
weight = 2
url = "articles/"

# [[menu.main]]
# name = "Projects"
# weight = 3
# url = "projects/"

[[menu.main]]
name = "Résumé"
weight = 4
url = "https://cdwilson.github.io/resume/"

[[menu.main]]
name = "Contact"
weight = 5
url = "contact/"

[markup]
  [markup.highlight]
    style = 'monokai'
